# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
click==8.0.1
flask==1.1.2
flask-sqlalchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
importlib-metadata==3.10.0
itsdangerous==2.0.1
jinja2==3.0.1
markupsafe==2.0.1
sqlalchemy==1.4.21
werkzeug==1.0.1
wincertstore==0.2
zipp==3.5.0
nltk==3.6.2
matplotlib==3.3.4
wordcloud==1.8.1
geopy==2.2.0
folium==0.12.0
pycountry-convert==0.7.2