@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
:root {
  --primary-color: #1d22be;
  --off-white: #dadada;
  --grey-BG: #181818;
  --grey-btn: #adadad;
  --card-odd: rgba(255, 255, 255, 0.22);
  --card-even: rgba(255, 255, 255, 0.1);
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3rem;
  background: black;
  border-bottom: solid var(--primary-color);
  border-width: 1px;
  z-index: 999;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.navbar .logo {
  text-decoration: none;
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
  letter-spacing: .6rem;
}

.navbar .menu-btn {
  display: block;
}

.navbar .mobile-menu-exit {
  float: right;
  margin: .5rem;
  cursor: pointer;
}

.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.primary-nav li {
  list-style: none;
}

.primary-nav a {
  color: var(--off-white);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: .9rem;
  font-family: 'Montserrat';
}

.primary-nav a:hover {
  color: var(--primary-color);
}

.primary-nav a span {
  font-size: 0.7rem;
  opacity: 0.6;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--off-white);
  opacity: .7;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.navhide {
  opacity: 0;
}

@media screen and (max-width: 1300px) {
  .primary-nav {
    position: absolute;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    right: 0px;
    height: calc(100vh - 6rem);
    max-height: 75vh;
    top: calc(3rem + 1px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    padding-bottom: 5rem;
  }
  .primary-nav::before {
    content: '';
    background-color: #111111;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.76);
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.76);
  }
  .primary-nav li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(45deg) translateY(12px);
          transform: rotate(45deg) translateY(12px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(-45deg) translateY(-12px);
          transform: rotate(-45deg) translateY(-12px);
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: calc(100vh - 9rem);
  background-color: black;
  padding: 6rem 3rem 3rem 3rem;
}

.hero-section .hero-texte {
  color: var(--off-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .hero-texte h1 {
  font-family: 'Montserrat';
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 1.8rem;
}

.hero-section .hero-texte .hero-absatz {
  margin-bottom: 2rem;
  opacity: .8;
}

.hero-section .hero-texte a {
  text-decoration: none;
  color: var(--off-white);
}

.hero-section .hero-texte a p {
  background-color: var(--primary-color);
  padding: 8px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}

.hero-section .hero-texte a p:hover {
  color: black;
  background-color: var(--off-white);
}

.keyword-search-section {
  background-color: var(--grey-BG);
  padding: 3rem 10%;
  color: var(--off-white);
}

.keyword-search-section .kws-params-card {
  padding: 2em;
  margin: 1em 0;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyword-search-section .kws-params-card h2 {
  margin-bottom: 2rem;
  font-family: 'Montserrat';
  text-align: center;
}

.keyword-search-section .kws-params-card .kws-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.keyword-search-section .kws-params-card .kws-form .kws-parameter-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.keyword-search-section .kws-params-card .kws-form .kws-label-input {
  width: 100%;
  margin: .8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.keyword-search-section .kws-params-card .kws-form .kws-label-input input, .keyword-search-section .kws-params-card .kws-form .kws-label-input select {
  background-color: var(--grey-btn);
  border: none;
  border-radius: 2px;
  width: 15ch;
  max-width: 15ch;
}

.keyword-search-section .kws-params-card .kws-form .kws-btn {
  background-color: var(--grey-btn);
  margin: 1rem auto 0 auto;
  padding: 5px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  font-family: 'Montserrat';
}

.keyword-search-section .kws-results-overview-card {
  padding: 2em;
  margin: 1em 0;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.keyword-search-section .kws-results-overview-card h2 {
  font-family: 'Montserrat';
  margin-bottom: 1rem;
}

.keyword-search-section .kws-results-overview-card h3 {
  font-family: 'Montserrat';
  margin-bottom: 1rem;
}

.keyword-search-section .kws-results-overview-card img {
  width: 100%;
  margin-bottom: 2rem;
}

.keyword-search-section .kws-results-overview-card .kws-ro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.keyword-search-section .kws-results-overview-card .kw-ro-time-map {
  width: 100%;
}

.keyword-search-section .kws-results-overview-card .kw-ro-time-map div {
  width: 100%;
}

.keyword-search-section .kws-results-overview-card .kw-ro-time-map div div {
  width: 100%;
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries {
  margin-top: 1rem;
  width: 100%;
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries .kws-ro-countries-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries .kws-ro-countries-cards .kws-ro-country-card {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 1.4rem);
  padding: .7rem;
  margin: .5rem 0;
  border-radius: 2px;
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries .kws-ro-countries-cards .kws-ro-country-card h4 {
  margin-bottom: 1rem;
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries .kws-ro-countries-cards .kws-top-country-1 {
  background-color: var(--card-odd);
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries .kws-ro-countries-cards .kws-top-country-2 {
  background-color: var(--card-even);
}

.keyword-search-section .kws-results-overview-card .kws-ro-top-countries .kws-ro-countries-cards .kws-top-country-3 {
  background-color: var(--card-odd);
}

.keyword-search-section .kws-speeches-card {
  padding: 2em;
  margin: 1em 0;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.keyword-search-section .kws-speeches-card h2 {
  margin-bottom: 2rem;
  font-family: 'Montserrat';
  text-align: center;
}

.keyword-search-section .kws-speeches-card .kws-speeches-batch-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  gap: 2rem;
}

.keyword-search-section .kws-speeches-card .kws-speeches-batch {
  width: 100%;
  min-width: 100%;
}

.keyword-search-section .kws-speeches-card .kws-speech-card {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100% - 1.4rem);
  padding: .7rem;
  margin: .5rem 0;
  border-radius: 2px;
}

.keyword-search-section .kws-speeches-card .kws-speech-card a {
  color: var(--off-white);
  margin-bottom: .5rem;
}

.keyword-search-section .kws-speeches-card .kws-speech-card h4 {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 400;
  line-height: 1.3rem;
}

.keyword-search-section .kws-speeches-card .kws-speech-card-1 {
  background-color: var(--card-odd);
}

.keyword-search-section .kws-speeches-card .kws-speech-card-2 {
  background-color: var(--card-even);
}

.keyword-search-section .kws-speeches-card .kws-speech-card-3 {
  background-color: var(--card-odd);
}

.keyword-search-section .kws-speeches-card .kws-speech-card-4 {
  background-color: var(--card-even);
}

.keyword-search-section .kws-speeches-card .kws-speech-card-5 {
  background-color: var(--card-odd);
}

.data-section {
  background-color: var(--grey-BG);
  padding: 3rem 10%;
  color: var(--off-white);
}

.data-section .data-card {
  padding: 2em;
  margin: 1em 0;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

.data-section .data-card .data-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.data-section .data-card .data-head h2 {
  font-family: 'Montserrat';
}

.data-section .data-card .data-head img {
  width: 50%;
  margin: 2rem auto;
}

.data-section .data-card .data-text p {
  margin-top: 1rem;
  line-height: 1.2rem;
}

.data-section .data-card .data-text a {
  color: var(--off-white);
}

.about-section {
  background-color: var(--grey-BG);
  color: var(--off-white);
  padding: 1rem 10% 3rem 10%;
}

.about-section .about-card {
  padding: 2em;
  margin: 1em 0;
  background-color: black;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
}

.about-section .about-card .about-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.about-section .about-card .about-head h2 {
  font-family: 'Montserrat';
}

.about-section .about-card .about-head img {
  width: 80%;
  margin: 2rem auto;
}

.about-section .about-card .about-text {
  line-height: 1.2rem;
}

.footer-section {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--off-white);
  padding: 1rem 10%;
}

.footer-section a {
  color: var(--off-white);
}

@media screen and (min-width: 740px) {
  .navbar {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero-section {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    padding: 6rem 10% 3rem 10%;
  }
  .hero-section .hero-texte {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: start;
    width: 80%;
  }
  .hero-section .hero-texte h1 {
    font-size: 2.4rem;
  }
  .hero-section .hero-texte .hero-absatz {
    width: 70%;
  }
  .keyword-search-section .kws-params-card .kws-form .kws-parameter-fields {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .keyword-search-section .kws-params-card .kws-form .kws-parameter-fields .kws-input-batch {
    width: 35%;
  }
  .data-section .data-card {
    padding: 3rem;
  }
  .data-section .data-card .data-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
  .data-section .data-card .data-head h2 {
    font-size: 2.4rem;
  }
  .data-section .data-card .data-head .bis-logo {
    max-width: 150px;
    margin: 0;
  }
  .about-section .about-card {
    padding: 3rem;
  }
  .about-section h2 {
    font-size: 2.4rem;
  }
  .about-section img {
    max-width: 300px;
  }
}

@media screen and (min-width: 900px) {
  .keyword-search-section .kws-results-overview-card .kws-ro-content {
    width: 100%;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 2rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-time-map {
    width: 100%;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-time-map .kws-map-img {
    margin-bottom: 0;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-top-countries {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-top-countries .kws-top-countries-headline {
    margin-top: 0;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-top-countries .kws-ro-countries-cards {
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-top-countries .kws-ro-countries-cards .kws-ro-country-card {
    height: 100000%;
  }
  .keyword-search-section .kws-results-overview-card .kws-ro-content .kws-ro-table .kws-ro-top-countries .kws-ro-countries-cards .kws-top-country-1 {
    margin-top: 0;
  }
}

@media screen and (min-width: 1300px) {
  .hero-section {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 3rem;
    height: calc(100vh - 6rem);
  }
  .hero-section .hero-texte {
    width: 60%;
  }
  .hero-section .hero-texte h1 {
    font-size: 3.4rem;
    margin-top: -20%;
  }
  .hero-section .hero-texte .hero-absatz {
    font-size: 1.2rem;
  }
  .keyword-search-section {
    height: 100vh;
  }
  .keyword-search-section .kws-container {
    max-height: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: auto 1fr;
        grid-template-rows: auto 1fr;
    grid-column-gap: 5%;
  }
  .keyword-search-section .kws-container .kws-params-card {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .keyword-search-section .kws-container .kws-results-overview-card {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  .data-section .data-card {
    padding: 3rem 6rem;
  }
  .data-section p {
    font-size: 1.2rem;
    max-width: 80ch;
  }
  .about-section .about-card {
    padding: 3rem 6rem;
  }
  .about-section .about-card .about-head {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 2rem;
  }
  .about-section .about-card .about-head .about-logo {
    margin: 0;
  }
  .about-section p {
    font-size: 1.2rem;
    max-width: 80ch;
  }
}
/*# sourceMappingURL=main.css.map */