@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --primary-color: #1d22be;
    --off-white: #dadada;
    --grey-BG: #181818;
    --grey-btn: #adadad;
    --card-odd: rgba(255, 255, 255, 0.22);
    --card-even: rgba(255, 255, 255, 0.1);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;    
    background: black;
    border-bottom: solid var(--primary-color);
    border-width: 1px;
    z-index: 999;
    //overflow-x: hidden;
    transition: 300ms ease-in-out;
    

    .logo {
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 400;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        letter-spacing: .6rem;        
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu-exit {
        float: right;
        margin: .5rem;
        cursor: pointer;
    }    
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.primary-nav li {
    list-style: none;
}

.primary-nav a {
    color: var(--off-white);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: .9rem;
    font-family: 'Montserrat';

    &:hover {
        color: var(--primary-color);
    }

    span {
        font-size: 0.7rem;
        opacity: 0.6;
        
    }
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--off-white);
    opacity: .7;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.navhide {
    opacity: 0;
    
}


@media screen and (max-width:1300px) {

    .primary-nav {
        position: absolute;
        justify-content: space-around;
        right: 0px;
        height: calc(100vh - 6rem);
        max-height: 75vh;
        top: calc(3rem + 1px);
        //background-color: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;      
        padding-bottom: 5rem;       

        &::before{
            content: '';
            background-color: rgb(17, 17, 17);
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            //border-left: solid rgba(0, 0, 0, 0.8) 1px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.76);
        }
          
    }

    .primary-nav li {
        opacity: 0;
    }

    .burger {
        display: block;        
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(45deg) translateY(12px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translateY(-12px);
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vh - 9rem);
    background-color: black;
    padding: 6rem 3rem 3rem 3rem;

    .hero-texte {
        color: var(--off-white);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: 'Montserrat';
            margin-bottom: 3rem;
            margin-top: 2rem;
            font-weight: 500;
            font-size: 1.8rem;
        }

        .hero-absatz {
            margin-bottom: 2rem;
            opacity: .8;            
        }

        a {
            text-decoration: none;
            color: var(--off-white);

            p {
                background-color: var(--primary-color);
                padding: 8px 16px;
                width: fit-content;
                border-radius: 5px;    
                font-family: 'Montserrat';
                font-weight: 500;
                color: white;

                &:hover {
                    color: black;
                    background-color: var(--off-white);
                }
            }
        }
    }
}

.keyword-search-section {
    background-color: var(--grey-BG);
    padding: 3rem 10%;
    color: var(--off-white);

    .kws-params-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 2rem;
            font-family: 'Montserrat';
            text-align: center;
        }

        .kws-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .kws-parameter-fields {
                display: flex;
                flex-direction: column;
            }

            .kws-label-input {
                width: 100%;
                margin: .8rem 0;
                display: flex;
                justify-content: space-between;

                input, select {
                    background-color: var(--grey-btn);
                    border: none;
                    border-radius: 2px;
                    width: 15ch;
                    max-width: 15ch;
                }

            }

            .kws-btn {
                background-color: var(--grey-btn);
                margin: 1rem auto 0 auto;
                padding: 5px 10px;
                width: fit-content;
                font-weight: 500;
                border: none;
                border-radius: 2px;
                font-family: 'Montserrat';

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--off-white);
                    cursor: pointer;
                }

            }

        }

    }

    .kws-results-overview-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: 'Montserrat';
            margin-bottom: 1rem;
        }

        h3 {
            font-family: 'Montserrat';
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            margin-bottom: 2rem;
        }

        .kws-ro-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .kw-ro-time-map {
            width: 100%;

            div {
                width: 100%;

                div {
                    width: 100%;
                }
            }
        }

        .kws-ro-top-countries {
            margin-top: 1rem;
            width: 100%;

            .kws-ro-countries-cards {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;

                .kws-ro-country-card {
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: calc(100% - 1.4rem);
                    padding: .7rem;
                    margin: .5rem 0;
                    border-radius: 2px;

                    h4 {
                        margin-bottom: 1rem;
                    }

                }

                .kws-top-country-1 {
                    background-color: var(--card-odd);
                }

                .kws-top-country-2 {
                    background-color: var(--card-even);
                }

                .kws-top-country-3 {
                    background-color: var(--card-odd);
                }

            }

        }

    }

    .kws-speeches-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 2rem;
            font-family: 'Montserrat';
            text-align: center;
        }

        .kws-speeches-batch-container {
            display: flex;
            overflow-x: scroll;
            gap: 2rem;
        }

        .kws-speeches-batch {
            width: 100%;
            min-width: 100%;
        }

        .kws-speech-card {
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: calc(100% - 1.4rem);
            padding: .7rem;
            margin: .5rem 0;
            border-radius: 2px;

            a {
                color: var(--off-white);
                margin-bottom: .5rem;
            }

            h4 {
                color: var(--off-white);
                text-decoration: none;
                font-weight: 400;
                line-height: 1.3rem;
                
            }
        }

        .kws-speech-card-1 {
            background-color: var(--card-odd);
        }

        .kws-speech-card-2 {
            background-color: var(--card-even);
        }

        .kws-speech-card-3 {
            background-color: var(--card-odd);
        }

        .kws-speech-card-4 {
            background-color: var(--card-even);
        }

        .kws-speech-card-5 {
            background-color: var(--card-odd);
        }

    }

}

.data-section {
    background-color: var(--grey-BG);
    padding: 3rem 10%;
    color: var(--off-white);

    .data-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);

        .data-head {
            display: flex;
            flex-direction: column;
            text-align: center;

            h2 {
                font-family: 'Montserrat';
            }

            img {
                width: 50%;
                margin: 2rem auto;
            }            
        }

        .data-text {

            p {
                margin-top: 1rem;
                line-height: 1.2rem;
            }

            a {
                color: var(--off-white);
                
            }

        }

    }

}

.about-section {
    background-color: var(--grey-BG);
    color: var(--off-white);
    padding: 1rem 10% 3rem 10%;


    .about-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        
        .about-head {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 1rem;
               
            
            h2 {
                font-family: 'Montserrat';
            }

            img {
                width: 80%;
                margin: 2rem auto;
            }  
        }

        .about-text {
            line-height: 1.2rem;
        }

    }

}

.footer-section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    padding: 1rem 10%;

    a {
        color: var(--off-white);
    }
}



//Tablet Mode Main
@media screen and (min-width:740px) {

    .navbar {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        justify-content: space-between;
    }

    .hero-section {
        align-items: flex-start;
        text-align: start;
        padding: 6rem 10% 3rem 10%;

        .hero-texte {
            align-items: flex-start;
            text-align: start;
            width: 80%;

            h1 {
                font-size: 2.4rem;
            }

            .hero-absatz {
                width: 70%;
            }
        }
    }

    .keyword-search-section {

        .kws-params-card {

            .kws-form {               

                .kws-parameter-fields {
                    flex-direction: row;
                    justify-content: space-between;
                    
                    .kws-input-batch {
                        width: 35%;
                    }                    
                }
            }
        }
    }

    .data-section {

        .data-card {
            padding: 3rem;

            .data-head {
                flex-direction: row;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                margin-bottom: 2rem;

                h2 {
                    font-size: 2.4rem;                    
                }

                .bis-logo {
                    max-width: 150px;
                    margin: 0;
                }

            }
            

        }


    }

    .about-section {

        .about-card {
            padding: 3rem;
        }
        
        h2 {
            font-size: 2.4rem;
        }

        img {
            max-width: 300px;
        }
    }
}


//Big Tablet Mode Main
@media screen and (min-width:900px) {

    .keyword-search-section {

        .kws-results-overview-card {

            .kws-ro-content {
                width: 100%;

                .kws-ro-table {
                    display: flex;
                    width: 100%;
                    gap: 2rem;
                    justify-content: space-between;
                    align-items: stretch;
                    
                    .kws-ro-time-map {                        
                        width: 100%;                        

                        .kws-map-img {
                            margin-bottom: 0;
                        }
                    }

                    .kws-ro-top-countries {
                        margin-top: 0;
                        display: flex;
                        flex-direction: column;


                        .kws-top-countries-headline {
                            margin-top: 0;
                        }

                        .kws-ro-countries-cards {
                            margin-top: 0;
                            width: 100%;
                            height: 100%;
                            //align-items: stretch;
                            
                            
                            .kws-ro-country-card {
                                height: 100000%;
                                
                            }

                            .kws-top-country-1 {
                                margin-top: 0;
                            }
                        }
                    }
                    


                }
            }
        }

    }

}


//Desktop Mode Main
@media screen and (min-width:1300px) {

    .hero-section {
        justify-content: center;
        padding-top: 3rem;
        height: calc(100vh - 6rem);

        .hero-texte {
            width: 60%;

            h1 {
                font-size: 3.4rem;
                margin-top: -20%;
            }

            .hero-absatz {
                font-size: 1.2rem;
            }

        }

    }

    .keyword-search-section {
        padding: 3rem 5%;

        .kws-container {
            //max-height: 100%;
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-rows: auto 1fr;
            grid-column-gap: 2%;
            

            .kws-params-card {
                height: fit-content;
            }

            .kws-results-overview-card {
                grid-row-start: 1;
                grid-row-end: 3;



            }
        }

    }

    .data-section {

        .data-card {
            padding: 3rem 6rem;
        }

        p {
            font-size: 1.2rem;
            max-width: 80ch;
        }
    }

    .about-section {

        .about-card {
            padding: 3rem 6rem;

            .about-head {
                flex-direction: row;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                margin-bottom: 2rem;

                .about-logo {
                    margin: 0;
                }

            }

        }

        p {
            font-size: 1.2rem;
            max-width: 80ch;
        }

    }

}


