@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --primary-color: #1d22be;
    --off-white: #dadada;
    --grey-BG: #181818;
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;    
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;    
    background: black;
    border-bottom: solid var(--primary-color);
    border-width: 1px;
    z-index: 999;
    //overflow-x: hidden;
    transition: 300ms ease-in-out;
    

    .logo {
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 400;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        letter-spacing: .6rem;        
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu-exit {
        float: right;
        margin: .5rem;
        cursor: pointer;
    }    
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.primary-nav li {
    list-style: none;
}

.primary-nav a {
    color: var(--off-white);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: .9rem;
    font-family: 'Montserrat';

    &:hover {
        color: var(--primary-color);
    }

    span {
        font-size: 0.7rem;
        opacity: 0.6;
        
    }
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--off-white);
    opacity: .7;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.navhide {
    opacity: 0;
    
}


@media screen and (max-width:1300px) {

    .primary-nav {
        position: absolute;
        justify-content: space-around;
        right: 0px;
        height: calc(100vh - 6rem);
        max-height: 75vh;
        top: calc(3rem + 1px);
        //background-color: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;      
        padding-bottom: 5rem;       

        &::before{
            content: '';
            background-color: rgb(17, 17, 17);
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            //border-left: solid rgba(0, 0, 0, 0.8) 1px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.76);
        }
          
    }

    .primary-nav li {
        opacity: 0;
    }

    .burger {
        display: block;        
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(45deg) translateY(12px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translateY(-12px);
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: calc(100vh - 9rem);
    background-color: black;
    padding: 6rem 3rem 3rem 3rem;

    .hero-texte {
        color: var(--off-white);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-family: 'Montserrat';
            margin-bottom: 3rem;
            margin-top: 2rem;
            font-weight: 500;
            font-size: 1.8rem;
        }

        .hero-absatz {
            margin-bottom: 2rem;
            opacity: .8;            
        }

        a {
            text-decoration: none;
            color: var(--off-white);

            p {
                background-color: var(--primary-color);
                padding: 8px 16px;
                width: fit-content;
                border-radius: 5px;    
                font-family: 'Montserrat';
                font-weight: 500;
                color: white;
            }
        }
    }
}





//Tablet Mode
@media screen and (min-width:740px) {

    .navbar {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        justify-content: space-between;
    }

    .hero-section {
        align-items: flex-start;
        text-align: start;
        padding: 6rem 10% 3rem 10%;

        .hero-texte {
            align-items: flex-start;
            text-align: start;
            width: 80%;

            h1 {
                font-size: 2.4rem;
            }

            .hero-absatz {
                width: 70%;
            }
        }
    }
}


//Desktop Mode
@media screen and (min-width:1300px) {

    .hero-section {
        justify-content: center;
        padding-top: 3rem;
        height: calc(100vh - 6rem);

        .hero-texte {
            width: 60%;

            h1 {
                font-size: 3.4rem;
                margin-top: -20%;
            }

            .hero-absatz {
                font-size: 1.2rem;
            }

        }

    }

}