@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');


:root {
    --primary-color: #1d22be;
    --off-white: #dadada;
    --grey-BG: #181818;
    --grey-btn: #adadad;
    --card-odd: rgba(255, 255, 255, 0.22);
    --card-even: rgba(255, 255, 255, 0.1);
    font-size: 16px;
}


* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: sans-serif;    
}


.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;    
    background: black;
    border-bottom: solid var(--primary-color);
    border-width: 1px;
    z-index: 999;
    //overflow-x: hidden;
    transition: 300ms ease-in-out;
    

    .logo {
        text-decoration: none;
        font-family: 'Montserrat';
        font-weight: 400;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
        letter-spacing: .6rem;        
    }

    .menu-btn {
        display: block;
    }

    .mobile-menu-exit {
        float: right;
        margin: .5rem;
        cursor: pointer;
    }    
}

.primary-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.primary-nav li {
    list-style: none;
}

.primary-nav a {
    color: var(--off-white);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: .9rem;
    font-family: 'Montserrat';

    &:hover {
        color: var(--primary-color);
    }

    span {
        font-size: 0.7rem;
        opacity: 0.6;
        
    }
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--off-white);
    opacity: .7;
    margin: 5px;
    transition: all 0.3s ease;
}

.burger {
    display: none;
    cursor: pointer;
}

.navhide {
    opacity: 0;
    
}


@media screen and (max-width:1300px) {

    .primary-nav {
        position: absolute;
        justify-content: space-around;
        right: 0px;
        height: calc(100vh - 6rem);
        max-height: 75vh;
        top: calc(3rem + 1px);
        //background-color: rgb(24, 24, 24);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;      
        padding-bottom: 5rem;       

        &::before{
            content: '';
            background-color: rgb(17, 17, 17);
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            //border-left: solid rgba(0, 0, 0, 0.8) 1px;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.76);
        }
          
    }

    .primary-nav li {
        opacity: 0;
    }

    .burger {
        display: block;        
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(45deg) translateY(12px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(-45deg) translateY(-12px);
}

.hero-section {
    height: 3rem;
}

.topic-modeling-section {
    background-color: var(--grey-BG);
    padding: 3rem 10%;
    color: var(--off-white);

    .tm-params-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 2rem;
            font-family: 'Montserrat';
            text-align: center;
        }

        .tm-form {
            display: flex;
            flex-direction: column;
            width: 100%;

            .tm-parameter-fields {
                display: flex;
                flex-direction: column;
            }

            .tm-label-input {
                width: 100%;
                margin: .8rem 0;
                display: flex;
                justify-content: space-between;

                input, select {
                    background-color: var(--grey-btn);
                    border: none;
                    border-radius: 2px;
                    width: 15ch;
                    max-width: 15ch;
                }

            }

            .tm-btn {
                background-color: var(--grey-btn);
                margin: 1rem auto 0 auto;
                padding: 5px 10px;
                width: fit-content;
                font-weight: 500;
                border: none;
                border-radius: 2px;
                font-family: 'Montserrat';

                &:hover {
                    background-color: var(--primary-color);
                    color: var(--off-white);
                    cursor: pointer;
                }

            }

        }

    }

    .tm-plot-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: 'Montserrat';
            margin-bottom: 1rem;
        }

        h3 {
            font-family: 'Montserrat';
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            margin-bottom: 2rem;
        }

        .tm-ro-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .kw-ro-time-map {
            width: 100%;

            div {
                width: 100%;

                div {
                    width: 100%;
                }
            }
        }

        .tm-ro-top-countries {
            margin-top: 1rem;
            width: 100%;

            .tm-ro-countries-cards {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 1rem;

                .tm-ro-country-card {
                    text-align: start;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    width: calc(100% - 1.4rem);
                    padding: .7rem;
                    margin: .5rem 0;
                    border-radius: 2px;

                    h4 {
                        margin-bottom: 1rem;
                    }

                }

                .tm-top-country-1 {
                    background-color: var(--card-odd);
                }

                .tm-top-country-2 {
                    background-color: var(--card-even);
                }

                .tm-top-country-3 {
                    background-color: var(--card-odd);
                }

            }

        }

    }

    .tm-topics-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 2rem;
            font-family: 'Montserrat';
            text-align: center;
        }

        .tm-topics-batch-container {
            display: flex;
            flex-direction: column;
            gap: .2rem;
        }


        .tm-topic-card {
            text-align: start;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: calc(100% - 1.4rem);
            padding: .7rem;
            margin: .5rem 0;
            border-radius: 2px;

            h4 {
                color: black;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: bold;
                padding: 3px 5px;
                text-align: center;
                margin-bottom: 0.5rem;
                
            }

            p {
                line-height: 1.9rem;
                word-spacing: 0.9rem;
                text-align: center;
            }
        }

        .tm-topic-card-1 {
            background-color: var(--card-odd);
        }

        .tm-topic-card-2 {
            background-color: var(--card-even);
        }

        .tm-topic-card-3 {
            background-color: var(--card-odd);
        }

        .tm-topic-card-4 {
            background-color: var(--card-even);
        }

        .tm-topic-card-5 {
            background-color: var(--card-odd);
        }

        .tm-topic-card-6 {
            background-color: var(--card-even);
        }

        .tm-topic-card-7 {
            background-color: var(--card-odd);
        }

        .tm-topic-card-8 {
            background-color: var(--card-even);
        }

        .tm-topic-card-9 {
            background-color: var(--card-odd);
        }

        .tm-topic-card-10 {
            background-color: var(--card-even);
        }

        .color-0 {
            background-color: #1F77B4;
        }

        .color-1 {
            background-color: #FF7F0E;
            color: black;
        }

        .color-2 {
            background-color: #2CA02C;
        }

        .color-3 {
            background-color: #D62728;
        }

        .color-4 {
            background-color: #9467BD;
        }

        .color-5 {
            background-color: #8C564B;
        }

        .color-6 {
            background-color: #E377C2;            
        }

        .color-7 {
            background-color: #7F7F7F;
        }

        .color-8 {
            background-color: #BCBD22;            
        }

        .color-9 {
            background-color: #17BECF;
        }
        
    }

}


.data-section {
    background-color: var(--grey-BG);
    padding: 3rem 10%;
    color: var(--off-white);

    .data-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);

        .data-head {
            display: flex;
            flex-direction: column;
            text-align: center;

            h2 {
                font-family: 'Montserrat';
            }

            img {
                width: 50%;
                margin: 2rem auto;
            }            
        }

        .data-text {

            p {
                margin-top: 1rem;
                line-height: 1.2rem;
            }

            a {
                color: var(--off-white);
                
            }

        }

    }

}

.about-section {
    background-color: var(--grey-BG);
    color: var(--off-white);
    padding: 1rem 10% 3rem 10%;


    .about-card {
        padding: 2em;
        margin: 1em 0;
        background-color: black;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
        
        .about-head {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-bottom: 1rem;
               
            
            h2 {
                font-family: 'Montserrat';
            }

            img {
                width: 80%;
                margin: 2rem auto;
            }  
        }

        .about-text {
            line-height: 1.2rem;
        }

    }

}

.footer-section {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--off-white);
    padding: 1rem 10%;

    a {
        color: var(--off-white);
    }
}


//Tablet Mode
@media screen and (min-width:740px) {

    .navbar {
        width: 80vw;
        padding-left: 10vw;
        padding-right: 10vw;
        justify-content: space-between;
    }

    .topic-modeling-section {

        .tm-params-card {

            .tm-form {               

                .tm-parameter-fields {
                    flex-direction: row;
                    justify-content: space-between;
                    
                    .tm-input-batch {
                        width: 35%;
                    }                    
                }
            }
        }
    }

    .data-section {

        .data-card {
            padding: 3rem;

            .data-head {
                flex-direction: row;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                margin-bottom: 2rem;

                h2 {
                    font-size: 2.4rem;                    
                }

                .bis-logo {
                    max-width: 150px;
                    margin: 0;
                }

            }
            

        }


    }

    .about-section {

        .about-card {
            padding: 3rem;
        }
        
        h2 {
            font-size: 2.4rem;
        }

        img {
            max-width: 300px;
        }
    }
}


//Desktop Mode Main
@media screen and (min-width:1300px) {

    .topic-modeling-section {
        padding: 3rem 5%;

        .tm-container {
            //max-height: 100%;
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-rows: auto auto;
            grid-column-gap: 2%;
            

            .tm-params-card {
                height: fit-content;
            }

            .tm-topics-card {
                grid-row-start: 1;
                grid-row-end: 3;



            }
        }

    }

    .data-section {

        .data-card {
            padding: 3rem 6rem;
        }

        p {
            font-size: 1.2rem;
            max-width: 80ch;
        }
    }

    .about-section {

        .about-card {
            padding: 3rem 6rem;

            .about-head {
                flex-direction: row;
                align-items: center;
                text-align: center;
                justify-content: space-between;
                margin-bottom: 2rem;

                .about-logo {
                    margin: 0;
                }

            }

        }

        p {
            font-size: 1.2rem;
            max-width: 80ch;
        }

    }

}


