{% extends 'base.html' %}

{% block head %}
<title>CEBATO</title>
{% endblock %}

{% block body %}
<nav class="navbar" id="navbar-container"><a class="logo" href="#">CEBATO</a>
    <ul class="primary-nav">
        <li><a href="/#keywordsearch">Keyword Search</a></li>
        <li><a href="/topicmodeling">Topic Modeling <span>beta</span></a></li>
        <li><a class="nav-cta" href="/tour">Show me</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<section class="hero-section">
    <div class="hero-texte">
        <h1>Find out what the central banks talk about</h1>
        <p class="hero-absatz">Cebato analyzes current topics and more than 10.000 historic speeches from central
            bankers all over the world.</p>
        <a href="/tour">
            <p class="hero-cta">Show me</p>
        </a>
    </div>
</section>

<section class="keyword-search-section">
    <div class="kws-container">
        <div class="kws-params-card">
            <h2 class="kws-headline">Search Parameters</h2>
            <form class="kws-form" action="/" method="POST">
                <div class="kws-parameter-fields">
                    <div class="kws-input-batch">
                        <div class="kws-label-input">
                            <label for="keyword">Keyword:</label>
                            <input type="text" autocomplete="off" name="keyword" id="keyword">
                        </div>
                        <div class="kws-label-input">
                            <label for="area">Area:</label>
                            <select name="area" id="area">
                                <option value="all">All</option>
                                <option disabled>------</option>
                                <option value="europe">Europe</option>
                                <option value="us">US</option>
                                <option disabled>------</option>
                                <option value="abbensen">Abbensen</option>
                            </select>
                        </div>


                    </div>
                    <div class="kws-input-batch">
                        <div class="kws-label-input">
                            <label for="startdate">From:</label>
                            <input type="date" name="startdate" id="startdate">
                        </div>
                        <div class="kws-label-input">
                            <label for="enddate">Until:</label>
                            <input type="date" name="enddate" id="enddate">
                        </div>
                    </div>
                </div>
                <input class="kws-btn" type="submit" value="Search">
            </form>
        </div>

        <div class="kws-results-overview-card">
            <h2>Results - Overview</h2>
            <div class="kws-ro-content">
                <div class="kws-ro-wordcloud">
                    <h3>Wordcloud</h3>
                    <img src="/{{ img_paths[0] }}" alt="wordcloud">
                </div>
                <div class="kws-ro-table">
                    <div class="kws-ro-time-map">
                        <div class="kws-ro-timeline">
                            <h3>Timeline of usage</h3>
                            <img src="/{{ img_paths[1] }}" alt="timeline">
                        </div>
                        <div class="kws-ro-map">
                            <h3>Map of usage</h3>
                            <img class="kws-map-img" src="/{{ img_paths[2] }}" alt="timeline">
                        </div>
                    </div>
                    <div class="kws-ro-top-countries">
                        <h3 class="kws-top-countries-headline">Top 3 Countries/Areas</h3>
                        <div class="kws-ro-countries-cards">
                            {% for country in top_countries %}
                            <div class="kws-ro-country-card kws-top-country-{{ loop.index }}">
                                <h4>{{ loop.index }}. {{ country[0] }}</h4>
                                <p>{{ country[1] }} total mentions</p>
                                <p>in {{ country[2] }} speeches</p>
                                <p>{{ country[3] }}% of speeches mention it</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="kws-speeches-card">
            <h2>Speeches found: {{ speeches_count }}</h2>
            <div class="kws-speeches-batch-container">
                {% for speechbatch in speeches %}
                <div class="kws-speeches-batch">
                    {% for speech in speechbatch %}
                    <div class="kws-speech-card kws-speech-card-{{ loop.index }}">
                        <a href="https://www.bis.org/review/r{{ speech.id }}.htm">
                            <h4>{{ speech.country }}</h4>
                        </a>
                        <p>{{ speech.date|datefromint }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}