{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<title>CEBATO</title>
{% endblock %}

{% block body %}
<nav class="navbar" id="navbar-container"><a class="logo" href="#">CEBATO</a>
    <ul class="primary-nav">
        <li><a href="/#keywordsearch">Keyword Search</a></li>
        <li><a href="/topicmodeling">Topic Modeling <span>beta</span></a></li>
        <li><a class="nav-cta" href="/tour">Show me</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<section class="hero-section">
    <div class="hero-texte">
        <h1>Find out what the central banks talk about</h1>
        <p class="hero-absatz">Cebato analyzes current topics and more than 10.000 historic speeches from central
            bankers all over the world.</p>
        <a href="/tour">
            <p class="hero-cta">Show me</p>
        </a>
    </div>
</section>

<section class="keyword-search-section">
    <a id="keywordsearch"></a>
    <div class="kws-container">
        <div class="kws-params-card">
            <h2 class="kws-headline">Search Parameters</h2>
            <form class="kws-form" action="/" method="POST">
                <div class="kws-parameter-fields">
                    <div class="kws-input-batch">
                        <div class="kws-label-input">
                            <label for="keyword">Keyword:</label>
                            <input type="text" autocomplete="off" name="keyword" id="keyword">
                        </div>
                        <div class="kws-label-input">
                            <label for="area">Area:</label>
                            <select name="area" id="area">
                                <option value="all">All</option>
                                <option disabled>------</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Brazil">Brazil</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Canada">Canada</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Croatia">Croatia</option>
                                <option value="Curaçao">Curaçao</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Euro area">Euro area</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Greece">Greece</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Hong Kong SAR">Hong Kong SAR</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="International">International</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Korea, Republic of">Korea, Republic of</option>
                                <option value="Kosovo">Kosovo</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macao SAR">Macao SAR</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Malta">Malta</option>
                                <option value="Mauritius">Mauritius</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Morocco">Morocco</option>
                                <option value="Mozambique">Mozambique</option>
                                <option value="Namibia">Namibia</option>
                                <option value="Nepal">Nepal</option>
                                <option value="Netherlands">Netherlands</option>
                                <option value="New Zealand">New Zealand</option>
                                <option value="Nigeria">Nigeria</option>
                                <option value="North Macedonia, Republic of">North Macedonia, Republic of</option>
                                <option value="Norway">Norway</option>
                                <option value="Organization of Eastern Caribbean States (OECS)">Organization of Eastern Caribbean States (OECS)</option>
                                <option value="Pakistan">Pakistan</option>
                                <option value="Papua New Guinea">Papua New Guinea</option>
                                <option value="Philippines">Philippines</option>
                                <option value="Portugal">Portugal</option>
                                <option value="Romania">Romania</option>
                                <option value="Russian Federation">Russian Federation</option>
                                <option value="Samoa">Samoa</option>
                                <option value="Saudi Arabia">Saudi Arabia</option>
                                <option value="Serbia">Serbia</option>
                                <option value="Seychelles">Seychelles</option>
                                <option value="Sierra Leone">Sierra Leone</option>
                                <option value="Singapore">Singapore</option>
                                <option value="Slovakia">Slovakia</option>
                                <option value="Slovenia">Slovenia</option>
                                <option value="Solomon Islands">Solomon Islands</option>
                                <option value="South Africa">South Africa</option>
                                <option value="Spain">Spain</option>
                                <option value="Sri Lanka">Sri Lanka</option>
                                <option value="Sweden">Sweden</option>
                                <option value="Switzerland">Switzerland</option>
                                <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                                <option value="Thailand">Thailand</option>
                                <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                <option value="Turkey">Turkey</option>
                                <option value="Uganda">Uganda</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="United Arab Emirates">United Arab Emirates</option>
                                <option value="United Kingdom">United Kingdom</option>
                                <option value="United States">United States</option>
                                <option value="Uruguay">Uruguay</option>
                                <option value="Vanuatu">Vanuatu</option>
                                <option value="Zambia">Zambia</option>
                            </select>
                        </div>


                    </div>
                    <div class="kws-input-batch">
                        <div class="kws-label-input">
                            <label for="startdate">From:</label>
                            <input type="date" name="startdate" id="startdate">
                        </div>
                        <div class="kws-label-input">
                            <label for="enddate">Until:</label>
                            <input type="date" name="enddate" id="enddate">
                        </div>
                    </div>
                </div>
                <input class="kws-btn" type="submit" value="Search">
            </form>
        </div>

        <div class="kws-results-overview-card">
            <h2>Results - Overview</h2>
            <div class="kws-ro-content">
                <div class="kws-ro-wordcloud">
                    <h3>Wordcloud</h3>
                    <img src="/{{ img_paths[0] }}" alt="wordcloud">
                </div>
                <div class="kws-ro-table">
                    <div class="kws-ro-time-map">
                        <div class="kws-ro-timeline">
                            <h3>Timeline of usage</h3>
                            <img src="/{{ img_paths[1] }}" alt="timeline">
                        </div>
                        <div class="kws-ro-map">
                            <h3>Map of usage</h3>
                            <img class="kws-map-img" src="/{{ img_paths[2] }}" alt="world map">
                        </div>
                    </div>
                    <div class="kws-ro-top-countries">
                        <h3 class="kws-top-countries-headline">Top 3 Countries/Areas</h3>
                        <div class="kws-ro-countries-cards">
                            {% for country in top_countries %}
                            <div class="kws-ro-country-card kws-top-country-{{ loop.index }}">
                                <h4>{{ loop.index }}. {{ country[0] }}</h4>
                                <p>{{ country[1] }} total mentions</p>
                                <p>in {{ country[2] }} speeches</p>
                                <p>{{ country[3] }}% of speeches mention it</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="kws-speeches-card">
            <h2>Speeches found: {{ speeches_count }}</h2>
            <div class="kws-speeches-batch-container">
                {% for speechbatch in speeches %}
                <div class="kws-speeches-batch">
                    {% for speech in speechbatch %}
                    <div class="kws-speech-card kws-speech-card-{{ loop.index }}">
                        <a href="https://www.bis.org/review/r{{ speech.id }}.htm">
                            <h4>{{ speech.title }}</h4>
                        </a>
                        <p>{{ speech.date|datefromint }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}