{% extends 'base.html' %}

{% block head %}
<title>CEBATO</title>
{% endblock %}

{% block body %}
<nav class="navbar" id="navbar-container"><a class="logo" href="#">CEBATO</a>
    <ul class="primary-nav">
        <li><a href="/#keywordsearch">Keyword Search</a></li>
        <li><a href="/topicmodeling">Topic Modeling <span>beta</span></a></li>
        <li><a class="nav-cta" href="/tour">Show me</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<section class="hero-section">
    <div class="hero-texte">
        <h1>Find out what the central banks talk about</h1>
        <p class="hero-absatz">Cebato analyzes current topics and more than 10.000 historic speeches from central bankers all over the world.</p>
        <a href="/tour"><p class="hero-cta">Show me</p></a>
    </div>
</section>

<section class="keyword-search-section">
    <div class="kws-container">
        <div class="kws-params-card">
            <form class="kws-form" action="/" method="POST">
                <div>
                    <div class="kws-label-input">
                        <label for="keyword">Keyword:</label>
                        <input type="text" name="keyword" id="keyword">
                    </div>
                    <div class="kws-label-input">
                        <label for="area">Area:</label>
                        <select name="area" id="area">
                            <option value="all">All</option>
                            <option value="europe">Europe</option>
                            <option value="us">US</option>
                            <option value="abbensen">Abbensen</option>
                        </select>
                    </div>


                </div>
                <div>
                    <div class="kws-label-input">
                        <label for="startdate">From:</label>
                        <input type="date" name="startdate" id="startdate">
                    </div>
                    <div class="kws-label-input">
                        <label for="enddate">Until:</label>
                        <input type="date" name="enddate" id="enddate">
                    </div>
                </div>
                <input type="submit" value="Search">
            </form>
        </div>
        <table>
            {% for speech in speeches %}
                <tr>
                    <td>{{ speech.country }}</td>                
                </tr>
            {% endfor %}
            <img src="/{{ wordcloud_path }}" alt="wordcloud">
            
        </table>
    </div>
</section>

<!-- <div class="inhalt">
    <form action="/" method="POST">
        <input type="text" name="name" id="name">
        <input type="submit" value="Upturnen">
    </form>
    
    <table>
        {% for speech in speeches %}
            <tr>
                <td>{{ speech.country }}</td>                
            </tr>
        {% endfor %}
        <img src="/{{ wordcloud_path }}" alt="wordcloud">
        
    </table>
</div> -->


{% endblock %}