{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/topicmodel.css') }}">
<title>CEBATO Topic Modeling</title>
{% endblock %}

{% block body %}
<nav class="navbar" id="navbar-container"><a class="logo" href="../">CEBATO</a>
    <ul class="primary-nav">
        <li><a href="../#keywordsearch">Keyword Search</a></li>
        <li><a href="/">Topic Modeling <span>beta</span></a></li>
        <li><a class="nav-cta" href="../tour">Show me</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>

<section class="hero-section">

</section>

<div class="inhalt">
    <form action="/topicmodeling" method="POST">
        <input type="number" min="2" max="10" name="numbertopics" id="numbertopics">
        <input type="submit" value="Upturnen">
    </form>
    
    <table>
        <p>{{ topwords_and_percents }}</p>
        {% for topic in topics %}
            <tr>
                <td>{{ topic[0] }} </td>
                <td>{{ topic[1] }} </td>
            </tr>
        {% endfor %}
        <img src="/{{ path }}" alt="LDA Results">
        
    </table>
</div>


{% endblock %}